# Exercise 1: Calculate the multiplication and sum of two numbers

In [1]:
def multiplication_or_sum(num1, num2):
    # calculate product of two number
    product = num1 * num2
    # check if product is less then 1000
    if product <= 1000:
        return product
    else:
        # product is greater than 1000 calculate sum
        return num1 + num2

# first condition
result = multiplication_or_sum(20, 30)
print("The result is", result)

# Second condition
result = multiplication_or_sum(40, 30)
print("The result is", result)

The result is 600
The result is 70

# Exercise 2: Print the sum of the current number and the previous number

In [2]:
print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

# loop from 1 to 10
for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
    # modify previous number
    # set it to the current number
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

# Exercise 3: Print characters from a string that are present at an even index number

In [4]:
word = input('Enter word ')
print("Original String:", word)

# get the length of a string
size = len(word)

# iterate a each character of a string
# start: 0 to start with first character
# stop: size-1 because index starts with 0
# step: 2 to get the characters present at even index like 0, 2, 4
print("Printing only even index chars")
for i in range(0, size, 2):
    print("index[", i, "]", word[i])

Enter word AnilkumarGujiri
Original String: AnilkumarGujiri
Printing only even index chars
index[ 0 ] A
index[ 2 ] i
index[ 4 ] k
index[ 6 ] m
index[ 8 ] r
index[ 10 ] u
index[ 12 ] i
index[ 14 ] i

In [5]:
#Solution 2
word = input('Enter word ')
print("Original String:", word)

for i in word[0::2]:
    print(i)

Enter word AnilkumarGujiri
Original String: AnilkumarGujiri
A
i
k
m
r
u
i
i

# Exercise 4: Remove first n characters from a string

In [6]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("AnilkumarGUjiri", 4))
print(remove_chars("AnilkumarGUjiri", 2))

Removing characters from a string
Original string: AnilkumarGUjiri
kumarGUjiri
Original string: AnilkumarGUjiri
ilkumarGUjiri

# Exercise 5: Check if the first and last number of a list is the same

In [7]:
l = [10,20,30,50,30,50,30,10]

if l[0] == l[-1]:
    print("1st and last Numbers are same")
else:
    print("1st and last Numbers are not same")

1st and last Numbers are same

# Exercise 6: Display numbers divisible by 5 from a list

In [8]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

# Exercise 7: Return the count of a given substring from a string

In [1]:
#solution 1
str_x = "Emma is good developer. Emma is a writer"
# use count method of a str class
cnt = str_x.count("Emma")
print(cnt)

2

# Exercise 8: Print the following pattern

In [3]:
for num in range(10):
    for i in range(num):
        print (num, end=" ") #print number
    # new line after each row to display pattern correctly
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

# Exercise 9: Check Palindrome Number

In [4]:
num1 = int(input("ENter Number"))

str1=str(num1)

rev_str = str1[::-1]
if rev_str == str1:
    print(num1,"is a Palindrone")
else:
    print(num1,"not a palindrone")

ENter Number1234554321
1234554321 is a Palindrone

# Exercise 10: Create a new list from a two list using the following condition

In [5]:
#Solution 1:
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

# Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

In [6]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit,end="")

Given number 7536
6357

In [7]:
#Solution 2

number = 7536
print("Given number", number)

rev_num = int(str(number)[::-1])

rev_num

Given number 7536

6357

# Exercise 12: Calculate income tax for the given income by adhering to the below rules

In [8]:
income = 45000
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Given income 45000
Total tax to pay is 6000.0

# Exercise 13: Print multiplication table from 1 to 10

In [10]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\n")

1 2 3 4 5 6 7 8 9 10

2 4 6 8 10 12 14 16 18 20

3 6 9 12 15 18 21 24 27 30

4 8 12 16 20 24 28 32 36 40

5 10 15 20 25 30 35 40 45 50

6 12 18 24 30 36 42 48 54 60

7 14 21 28 35 42 49 56 63 70

8 16 24 32 40 48 56 64 72 80

9 18 27 36 45 54 63 72 81 90

10 20 30 40 50 60 70 80 90 100

# Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)

In [12]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*